<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    {{>navbar}}

    <div class="container">
        <h1>Contact Us</h1>
        <form action="/register" method="post" class="myForm">
            <input type="text" class="myInput" name="firstname" placeholder="First Name *">
            <input type="text" class="myInput" name="lastname" placeholder="Last Name *">
            <input type="email" class="myInput" name="email" placeholder="Your email *">
            <input type="text" class="myInput" name="phone" placeholder="Enter your phone Number">
            <input type="text" class="myInput" name="age" placeholder="Enter your age">
            <input type="text" class="myInput" name="password" placeholder="Password">
            <input type="text" class="myInput" name="cnfpassword" placeholder="Confirm Password">
            <input type="radio" name="gender" value="male" checked><span>Male</span>
            <input type="radio" name="gender" value="female"><span>Female</span>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
</html>