<nav>
        <div class="nav-container">
            <div class="logo">IIC </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/about">About</a></li>
            <li class="item"><a href="/register">Register</a></li>
            <li class="item"><a href="/login">Login</a></li>
            <li class="item"><a href="/logout">Logout</a></li>
            <li class="item"><a href="/secret">Secret</a></li>
        </ul>
    </div>
    </nav>